# macOS system files
.DS_Store
.AppleDouble
.Icon?
._*

# Virtual environment folder
venv/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/

# Model files
*.h5
*.keras

chest_xray/

backup-repository-pneumonia/
